*.7z
*.xml
*.sla
*.pyc
*.png
*.jpg
*.svg
build/*
__pycache__/*.pyc
pyscribus/__pycache__/*.pyc
source/_templates/*
source/tests-outputs/*
source/tests/test-samples/*
source/tests/Sources-pages-1-2/*
source/tests/maquette-libre-droits/*
